<h4 class="mb-2 text-xl font-bold text-primary"><%= __('dashboard')  %></h4>
<hr class="mb-3">


<div class="grid grid-cols-2 gap-3 md:grid-cols-4">



    <div class="flex flex-col items-center justify-between h-40 py-5 bg-blue-500 shadow card">
        <i class="text-4xl text-white fa-solid fa-location-dot"></i>
         
         <div class="flex items-center justify-between w-full px-10">
            <p class="font-bold text-white"><%= __('places')  %></p>
            <p class="flex items-center justify-center w-10 h-10 p-3 font-bold text-white rounded-full bg-secondary" ><%= places.length  %></p>
         </div>
    </div>



    <div class="flex flex-col items-center justify-between h-40 py-5 bg-red-500 shadow card">
        
        <i class="text-4xl text-white fa-solid fa-users"></i>
         <div class="flex items-center justify-between w-full px-10">
            <p class="font-bold text-white"><%= __('users')  %></p>
            <p class="flex items-center justify-center w-10 h-10 p-3 font-bold text-white rounded-full bg-secondary" ><%= users.length  %></p>
         </div>
    </div>


  

  


</div>