<div class="bg-base-200 ">
    <footer class="container p-10 m-auto footer sm:footer-horizontal bg-base-200 text-base-content">
      <nav>
        <h6 class="footer-title">Services</h6>
        <a class="link link-hover">Branding</a>
        <a class="link link-hover">Design</a>
        <a class="link link-hover">Marketing</a>
        <a class="link link-hover">Advertisement</a>
      </nav>
      <nav>
        <h6 class="footer-title">Company</h6>
        <a class="link link-hover">About us</a>
        <a href="/contact/page" class="link link-hover"><%= __('contact-us')  %></a>
        <a class="link link-hover">Jobs</a>
        <a class="link link-hover">Press kit</a>
      </nav>
      <nav>
        <h6 class="footer-title">Legal</h6>
        <% pages.forEach(page => { %>
          <a href="/page/content/<%= page._id %>/<%= page.title_en  %>" class="link link-hover"> <%= page.title_en  %> </a>
        <% }) %>
        
       
      </nav>
      <form>
        <h6 class="footer-title">Newsletter</h6>
        <fieldset class="w-80">
          <label>Enter your email address</label>
          <div class="join">
            <input type="text" placeholder="username@site.com" class="input input-bordered join-item" />
            <button class="btn btn-primary join-item">Subscribe</button>
          </div>
        </fieldset>

        <div class="flex flex-col items-center justify-center md:flex-row">
          <a href="" class="flex items-center p-1 m-1 text-white bg-black rounded-lg">
            <img src="/assets/images/apple.png" class="w-10 h-10" alt="">
            <p class="mx-5 text-sm text-white">
              <%= __('apple-store') %>
            </p>
          </a>
          <a href="" class="flex items-center p-1 m-1 text-white bg-black rounded-lg">
            <img src="/assets/images/google-play.png" class="w-10 h-10" alt="">
            <p class="mx-5 text-sm text-white">
              <%= __('google-play') %>
            </p>
          </a>
        </div>
      </form>



    </footer>


  </div>