<% const menu=[ { icon: 'fa-gauge' , label: __('dashboard'), url: '/admin/index' }, { icon: 'fa-location-dot' ,
  label:__('places'), url: '/admin/places' }, { icon: 'fa-users' , label: __('users'), url: '/admin/users' }, {
  icon: 'fa-gear' , label: __('setting'), url: '/admin/setting' } , { icon: 'fa-info-circle' , label: __('help'),
  url: '/admin/help' } ]; %>


  <div class="fixed w-0 h-screen overflow-hidden transition-all ease-in-out bg-black shadow-lg z-[100] md:w-54"
    id="sidebar">


    <div class="relative h-screen ">
      <div class="flex justify-end my-4 md:hidden">
        <button class="absolute text-white border border-white btn btn-ghost btn-circle right-2 top-2"
          id="hide_sidebar_btn">
          <i class="fa-solid fa-x"></i>
        </button>
      </div>

      <div class="py-2 mt-5">
        <div class="flex items-center justify-center mb-5">
          <img src="/uploads/<%= settings.logo  %>" class="w-18 h-18" alt="<%= settings.nameEn  %>">
        </div>
        <ul class="flex-1 block">
          <% menu.forEach(item=> { %>
            <li
              class="px-3 py-2 mb-1 text-white transition-colors ease-in-out border-b border-gray-400 hover:bg-primary">
              <a href="<%= item.url %>" class="flex items-center w-full">
                <div class="flex-1">
                  <i class="text-sm fa-solid <%= item.icon %>"></i>
                  <span class="mx-2 text-sm">
                    <%= item.label %>
                  </span>
                </div>
                <i class="mr-3 text-sm fa-solid fa-chevron-right"></i>
              </a>
            </li>
            <% }); %>
        </ul>

      </div>

      <div class="absolute flex justify-center w-full bottom-20 ">
        <div class="w-full mx-3 dropdown dropdown-top">
          <div tabindex="0" role="button" class="w-full m-1 btn btn-primary">
            <% if (user) { %>
              <%= user.name %>
                <% } %>
          </div>
          <ul tabindex="0" class="p-2 shadow-sm dropdown-content menu bg-base-100 rounded-box z-1 w-52">





            <li>
              <a href="#">
                <% if (user) { %>
                  <%= user.name %>
                    <% } %>
              </a>
            </li>

            <li>
              <a href="#">
                <% if (user) { %>
                  <%= user.email %>
                    <% } %>
              </a>
            </li>

            <li>
              <a href="#">
                <% if (user) { %>
                  <%= user.role %>
                    <% } %>
              </a>
            </li>

            <li><a>
                <%= __('edit-profile') %>
              </a>
            </li>

            <li>
              <a href="/users/logout">
                <%= __('logout') %>
              </a>
            </li>


          </ul>
        </div>
      </div>
    </div>

  </div>