<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <%- include('../inc/style.ejs') %>
    <title>Edit Place - <%= place.nameEn  %></title>
</head>

<body>
    <div class="flex ">
        <%- include('../inc/sidebar.ejs') %>
            <div class="flex-1">
                <%- include('../inc/header.ejs') %>

                    <div class="p-4">
                        <div class="grid grid-cols-12 gap-5">


                            <div class="col-span-12 md:col-span-5">
                                <h1 class="text-center font-semibold">Edit Place - <%= place.nameEn %>
                                </h1>
                                <form action="/places/edit/place/confirm/<%= place._id  %>" method="post"
                                    enctype="multipart/form-data">


                                    <div class="mb-3">
                                        <label class="block text-sm">Name ( Ar )</label>
                                        <input type="text" name="nameAr" required class="input input-primary w-full"
                                            value="<%= place.nameAr  %>" />
                                    </div>


                                    <div class="mb-3">
                                        <label class="block text-sm">Name ( En )</label>
                                        <input type="text" name="nameEn" required class="input input-primary w-full"
                                            value="<%= place.nameEn %>" />
                                    </div>







                                    <div class="mb-3">
                                        <label class="block">Address ( En )</label>
                                        <input type="text" name="addressEn" required class="input input-primary w-full"
                                            value="<%= place.addressEn  %>" />
                                    </div>

                                    <div class="mb-3 text-sm">
                                        <label class="block">Address ( Ar )</label>
                                        <input type="text" name="addressAr" required class="input input-primary w-full"
                                            value="<%= place.addressAr  %>" />
                                    </div>



                                    <div class="mb-2">
                                        <label class="block">Description</label>
                                        <input type="text" name="description" class="input input-primary w-full"
                                            value="<%= place.description  %>" />
                                    </div>



                                    <div class="mb-3 text-sm">
                                        <label class="block">Latitude</label>
                                        <input type="text" name="lat" required class="input input-primary w-full"
                                            value="<%= place.location.lat  %>" />
                                    </div>

                                    <div class="mb-3">
                                        <label class="block text-sm">Longitude</label>
                                        <input type="text" name="lng" required class="input input-primary w-full"
                                            value="<%= place.location.lng  %>" />
                                    </div>




                                    <img src="/uploads/<%= place.image  %>" alt="<%= place.name  %>"
                                        class="w-18 h-12" />


                                    <div class="my-3">
                                        <label
                                            class="flex justify-center items-center flex-col py-4 text-sm border border-dashed "
                                            for="image">

                                            <div class="mb-2">
                                                <img src="" id="preview" alt="">
                                            </div>
                                            <input type="file" id="image" name="image" 
                                                class="file-input file-input-primary w-full hidden" />

                                            <div>
                                                <i class="fa-solid fa-file-image text-3xl"></i>
                                            </div>
                                        </label>

                                    </div>


                                    <button type="submit" class="btn btn-primary w-full">Save</button>
                                </form>
                            </div>







                            <div class="col-span-12 md:col-span-7">
                                <h3 class="font-semibold text-center text-xl">Add Service</h3>
                                <form action="/services/add/new/service/<%=  place._id  %>" method="post">


                                    <div class="mb-3">
                                        <label class="block text-sm mb-1">Service [Ar]</label>
                                        <input type="text" name="serviceAr" class="input input-primary w-full" />
                                    </div>


                                    <div class="mb-3">
                                        <label class="block text-sm mb-1">Service [En]</label>
                                        <input type="text" name="serviceEn" class="input input-primary w-full" />
                                    </div>


                                    <button type="submit" class="btn btn-primary w-full">Save</button>


                                </form>






                                <div class="my-5">
                                    <h4 class="text-center font-semibold">All Services</h4>

                                    <% services.forEach(item=> { %>
                                        <div class="flex justify-between items-center  py-5 shadow-md my-2 bg-gradient-to-r from-gray-100 to-gray-200 px-4">
                                            <div>
                                                <p>
                                                    <%= item.nameEn %>
                                                </p>
                                                <p>
                                                    <%= item.nameAr %>
                                                </p>
                                            </div>

                                            <div>
                                                <a href="/services/edit/service/<%= item._id %> " class="btn btn-success btn-xs mx-1">
                                                    <i class="fa-solid fa-pen text-white"></i>
                                                </a>
                                                <a 
                                                onclick="return confirm('Are you sure you want to delete this item?');"
                                                href="/services/delete/service/<%= item._id %> " class="btn btn-error btn-xs mx-1">
                                                    <i class="fa-solid fa-trash text-white"></i>
                                                </a>
                                            </div>


                                        </div>
                                        <% }) %>
                                </div>



                            </div>


                        </div>

                    </div>
            </div>
    </div>

    <%- include('../inc/script.ejs') %>
</body>

</html>