<div class="p-4">
  <div class="grid grid-cols-12 gap-5">


    <div class="col-span-12 md:col-span-7">
      <h1 class="font-semibold text-center"><%= __('edit-place')  %> - <%= place.nameEn %>
      </h1>
      <form action="/admin/edit/place/confirm/<%= place._id  %>" method="post" enctype="multipart/form-data">

        <h5 class="my-3 text-lg font-bold text-primary">Gerenal Information</h5>
        <hr>
        <div class="my-4">
          <div class="mb-3">
            <label class="block text-sm"><%= __('name-en')  %></label>
            <input type="text" name="nameAr" required class="w-full input input-primary" value="<%= place.nameAr  %>" />
          </div>


          <div class="mb-3">
            <label class="block text-sm"><%= __('name-ar')  %></label>
            <input type="text" name="nameEn" required class="w-full input input-primary" value="<%= place.nameEn %>" />
          </div>





          <div class="mb-3">
            <label class="block"><%= __('address-en')  %></label>
            <input type="text" name="addressEn" required class="w-full input input-primary" value="<%= place.addressEn  %>" />
          </div>

          <div class="mb-3 text-sm">
            <label class="block"><%= __('address-ar')  %></label>
            <input type="text" name="addressAr" required class="w-full input input-primary" value="<%= place.addressAr  %>" />
          </div>



          <div class="mb-2">
            <label class="block"><%= __('description')  %></label>
            <input type="text" name="description" class="w-full input input-primary" value="<%= place.description  %>" />
          </div>


          <div class="flex items-center justify-center">
            <img src="/uploads/<%= place.image  %>" alt="<%= place.name  %>" class="w-24 h-24" />
          </div>


          <div class="my-3">
            <label class="flex flex-col items-center justify-center py-4 text-sm border border-dashed " for="image">

              <div class="mb-2">
                <img src="" id="preview" alt="">
              </div>
              <input type="file" id="image" name="image" class="hidden w-full file-input file-input-primary" />

              <div>
                <i class="text-3xl fa-solid fa-file-image"></i>
              </div>
            </label>

          </div>

        </div>


        <h5 class="my-3 text-lg font-bold text-primary"><%= __('place-setting')  %></h5>
        <hr>

        <div class="my-3">
          <div class="mb-3 text-sm">
            <label class="block"><%= __('latitude')  %></label>
            <input type="text" name="lat" required class="w-full input input-primary" value="<%= place.location.lat  %>" />
          </div>

          <div class="mb-3">
            <label class="block text-sm"><%= __('longitude')  %></label>
            <input type="text" name="lng" required class="w-full input input-primary" value="<%= place.location.lng  %>" />
          </div>

          <div class="mb-3 ">
            <label class="block text-sm text-black label"><%= __('location-link')  %></label>
            <input type="text" name="locationlink" class="w-full input input-primary" value="<%= place.locationlink  %>" />
          </div>


          <div class="mb-3 ">
            <label class="block text-sm text-black label"><%= __('start-work')  %></label>
            <input type="time" name="timeStart" required class="w-full input input-primary" value="<%= place.timeStart  %>" />
          </div>

          <div class="mb-3 ">
            <label class="block text-sm text-black label"><%= __('close-work')  %></label>
            <input type="time" name="timeClosed" required class="w-full input input-primary" value="<%= place.timeClosed  %>" />
          </div>


          <div class="flex items-baseline mb-3">
            <label for="moveTurn" class="block text-sm text-black label"><%= __('move-turn')  %></label>
            <input type="checkbox" name="moveTurn" id="moveTurn" <% if (place.moveTurn ) { %> checked <% } %> value="<%= place.moveTurn  %>" class="mx-3 toggle toggle-primary" />
          </div>





        </div>





        <button type="submit" class="w-full btn btn-primary"><%= __('update')  %></button>
      </form>
    </div>





    <div class="col-span-12 md:col-span-5">
      <h3 class="text-xl font-semibold text-center"><%= __('add-new-service')  %></h3>
      <form action="/admin/add/new/service/<%=  place._id  %>" method="post">


        <div class="mb-3">
          <label class="block mb-1 text-sm"><%= __('name-ar')  %></label>
          <input type="text" name="serviceAr" class="w-full input input-primary" />
        </div>


        <div class="mb-3">
          <label class="block mb-1 text-sm"><%= __('name-en')  %></label>
          <input type="text" name="serviceEn" class="w-full input input-primary" />
        </div>


        <button type="submit" class="w-full btn btn-primary"><%= __('save')  %></button>


      </form>




      <div class="my-5">
        <h4 class="font-semibold text-center"><%= __('services')  %></h4>

        <% services.forEach(item => { %>
        <div class="flex items-center justify-between px-4 py-5 my-2 bg-gray-100 shadow">
          <div>
            <p><%= item.nameEn %></p>
            <p><%= item.nameAr %></p>
          </div>

          <div>
            <!-- Button to open modal -->
            <button class="btn btn-success btn-xs" onclick="document.getElementById('modal_<%= item._id %>').showModal()">
              <i class="text-white fa-solid fa-pen"></i>
            </button>

            <!-- Modal -->
            <dialog id="modal_<%= item._id %>" class="modal">
              <div class="modal-box">
                <form action="/admin/edit/service/<%= place._id  %>/<%= item._id %>" method="POST">
                  <button type="button" class="absolute btn btn-sm btn-circle btn-ghost right-2 top-2" onclick="document.getElementById('modal_<%= item._id %>').close()">✕</button>
                  <h3 class="mb-4 text-lg font-bold"><%= __('edit-sevice')  %> </h3>

                  <div class="mb-2">
                    <label class="block text-sm font-medium"> <%= __('name-en')  %> </label>
                    <input type="text" name="nameEn" value="<%= item.nameEn %>" class="w-full input input-bordered" required />
                  </div>

                  <div class="mb-2">
                    <label class="block text-sm font-medium"> <%= __('name-ar')  %>  </label>
                    <input type="text" name="nameAr" value="<%= item.nameAr %>" class="w-full input input-bordered" required />
                  </div>

                  <!-- Add more fields if needed -->

                  <div class="mt-4 text-right">
                    <button type="submit" class="btn btn-success btn-sm"><%= __('save')  %> </button>
                  </div>
                </form>
              </div>
            </dialog>

            <!-- Delete button -->
            <a onclick="return confirm('Are you sure you want to delete this item?');" href="/admin/delete/service/<%= place._id %>/<%= item._id %>" class="mx-1 btn btn-error btn-xs">
              <i class="text-white fa-solid fa-trash"></i>
            </a>
          </div>
        </div>
        <% }) %>
      
      </div>


    </div>


  </div>

</div>