<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <%- include('../inc/style.ejs') %>
</head>

<body>
    <div class="flex ">
        <%- include('../inc/sidebar.ejs') %>
            <div class="flex-1">
                <%- include('../inc/header.ejs') %>

                    <div class="p-4">
                        <div class="grid grid-cols-12 gap-5">
                            <div class="col-span-5">
                                <h1 class="text-center font-semibold">Places</h1>
                                <form action="/admin//add/new/place" method="post" enctype="multipart/form-data">
                                    <div class="mb-2">
                                        <label class="block">Name</label>
                                        <input type="text" name="name" class="input input-primary w-full" />
                                    </div>

                                    <div class="mb-2">
                                        <label class="block">address</label>
                                        <input type="text" name="address" class="input input-primary w-full" />
                                    </div>

                                    <div class="mb-2">
                                        <label class="block">description</label>
                                        <input type="text" name="description" class="input input-primary w-full" />
                                    </div>

                                    <div class="mb-2">
                                        <label class="block">lat</label>
                                        <input type="number" name="lat" class="input input-primary w-full" />
                                    </div>

                                    <div class="mb-2">
                                        <label class="block">lng</label>
                                        <input type="number" name="lng" class="input input-primary w-full" />
                                    </div>

                                    <div class="my-3">
                                        <label class="block">image</label>
                                        <input type="file" name="image" class="file-input file-input-primary w-full" />
                                    </div>


                                    <button type="submit" class="btn btn-primary w-full">Save</button>
                                </form>
                            </div>
                            <div class="col-span-7">
                                <div class="overflow-x-auto">
                                    <table id="myTable" class="table table-xs">
                                        <thead>
                                            <tr>

                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>Description</th>
                                                <th>location</th>
                                                <th>image</th>
                                                <th>Actions</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% places.forEach(place=> { %>
                                                <tr>
                                                    <th>
                                                        <%= place.name %>
                                                    </th>
                                                    <th>
                                                        <%= place.address %>
                                                    </th>
                                                    <th>
                                                        <%= place.description %>
                                                    </th>
                                                    <th>
                                                        <%= place.location.lat %> - <%= place.location.lng %>
                                                    </th>
                                                    <th>
                                                        <img class="w-12 h-12" src="/uploads/<%= place.image  %>"
                                                            alt="">
                                                    </th>

                                                    <th>
                                                        <a href="/admin/edit/place/<%= place._id %> " class="btn btn-success">
                                                            <i class="fa-solid fa-pen text-white"></i>
                                                        </a>
                                                        <a href="" class="btn btn-error">
                                                            <i class="fa-solid fa-trash text-white"></i>
                                                        </a>
                                                    </th>

                                                </tr>
                                                <% }) %>










                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
    </div>

    <%- include('../inc/script.ejs') %>
</body>

</html>