<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Queue App | <%= title  %></title>
  <%- include('../partials/styles.ejs') %>
</head>

<body>
  <div class="flex flex-row h-screen ">
    
      <%- include('../partials/sidebar.ejs') %>
 


    <div class="flex-1 ml-52 overflow-auto">
      <%- include('../partials/header.ejs') %>
      <div class="px-3 py-4">
        <%- body  %>

      </div>
    </div>
  </div>

  <%- include('../partials/script.ejs') %>
</body>

</html>