<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Queue App | <%= title %>
  </title>
  <%- include('../partials/styles.ejs') %>

</head>

<body>

  <div class="shadow-sm navbar bg-base-100">
    <div class="flex-1">
      <a class="text-xl btn btn-ghost" href="/">
        <img src="/assets/images/logo.svg" class="w-10 h-10" alt="">
        <span class="mx-2 text-sm">Queue App</span>
      </a>
    </div>



    
    <div class="flex items-center gap-2">
      <%- include('../partials/_language-switcher.ejs') %>
        <% if (user) { %>
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="border border-primary btn btn-ghost btn-circle avatar">
              <i class="fa-solid fa-user"></i>
            </div>
            <ul tabindex="0" class="p-2 mt-3 shadow menu menu-sm dropdown-content bg-base-100 rounded-box z-1 w-52">

              <li><a>
                  <%= user.name %>
                </a></li>
              <li><a>
                  <%= user.email %>
                </a></li>
              <li><a href="/show/user/queues/<%= user.id  %>">
                  <%= __('show-my-queues') %>
                </a></li>
              <li><a href="/users/logout">Logout</a></li>
            </ul>
          </div>
          <% } else { %>
            <a href="/front/login/page" class="px-2 text-sm ">
              <%= __('login-register') %>
            </a>
            <% } %>





    </div>
  </div>
  <main>
    <%- body %>
  </main>




 <%- include('../partials/footer.ejs')  %>

</body>

</html>