<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= settings.nameEn %> | <%= title %>
  </title>
  <meta name="description" content="<%= settings.descriptionEn %>">
  <meta name="keywords" content="" />
  <link rel="shortcut icon" href="/uploads/<%= settings.logo %>" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.js"></script>

  <%- include('../partials/styles.ejs') %>

</head>

<body>

  <div class="shadow-sm navbar bg-base-100">
    <div class="flex-1">
      <a class="text-xl flex items-center" href="/">
        <img src="/uploads/<%= settings.logo %>" class="w-18 h-18" alt="<%= settings.nameEn %>">
        <span class="mx-2 text-sm">

          <% if (locale==='ar' ) { %>
            <%= settings.nameAr %>
              <% } else { %>
                <%= settings.nameEn %>
                  <% } %>
        </span>
      </a>
    </div>




    <div class="flex items-center gap-2">
      <%- include('../partials/_language-switcher.ejs') %>
        <% if (user) { %>
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="border border-primary btn btn-ghost btn-circle avatar">
              <i class="fa-solid fa-user"></i>
            </div>
            <ul tabindex="0" class="p-2 mt-3 shadow menu menu-sm dropdown-content bg-base-100 rounded-box z-1 w-52">

              <li><a>
                  <%= user.name %>
                </a></li>
              <li><a>
                  <%= user.email %>
                </a></li>

              <li><a href="/show/user/queues/<%= user.id  %>">
                  <%= __('show-my-queues') %>
                </a></li>
              <li><a href="/users/logout">Logout</a></li>
            </ul>
          </div>
          <% } else { %>
            <a href="/front/login/page" class="px-2 text-sm ">
              <%= __('login-register') %>
            </a>
            <% } %>





    </div>
  </div>
  <main>
    <%- body %>
  </main>




  <%- include('../partials/footer.ejs') %>

</body>

</html>