<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Queue App | <%= title %>
  </title>
  <%- include('../partials/styles.ejs') %>

</head>

<body>

  <div class="shadow-sm navbar bg-base-100">
    <div class="flex-1">
      <a class="text-xl btn btn-ghost" href="/">
        <img src="/assets/images/logo.svg" class="w-10 h-10" alt="">
        <span class="mx-2">Queue App</span>
      </a>
    </div>
    <div class="flex items-center gap-2">







      <button class="mx-1 btn btn-primary" popovertarget="popover-1" style="anchor-name:--anchor-1">
        <i class="fa-solid fa-globe"></i>  Language
      </button>
      
      <!-- القائمة -->
      <ul class="shadow-sm dropdown menu w-52 rounded-box bg-base-100"
        popover id="popover-1" style="position-anchor:--anchor-1">
      
        <li><a href="?lang=en">🇺🇸 English</a></li>
        <li><a href="?lang=ar">🇸🇦 العربية</a></li>
      
      </ul>

      <% if (user) { %>
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="border border-primary btn btn-ghost btn-circle avatar">
            <i class="fa-solid fa-user"></i>
          </div>
          <ul tabindex="0" class="p-2 mt-3 shadow menu menu-sm dropdown-content bg-base-100 rounded-box z-1 w-52">

            <li><a>
                <%= user.name %>
              </a></li>
            <li><a>
                <%= user.email %>
              </a></li>
            <li><a href="/show/user/queues/<%= user.id  %>"> <%= __('show-my-queues') %> </a></li>
            <li><a href="/users/logout">Logout</a></li>
          </ul>
        </div>
        <% } else { %>
          <a href="/front/login/page" class="px-2 text-sm "><%= __('login-register') %></a>
          <% } %>





    </div>
  </div>
  <main>
    <%- body %>
  </main>




  <div class="bg-base-200 ">
    <footer class="container p-10 m-auto footer sm:footer-horizontal bg-base-200 text-base-content">
      <nav>
        <h6 class="footer-title">Services</h6>
        <a class="link link-hover">Branding</a>
        <a class="link link-hover">Design</a>
        <a class="link link-hover">Marketing</a>
        <a class="link link-hover">Advertisement</a>
      </nav>
      <nav>
        <h6 class="footer-title">Company</h6>
        <a class="link link-hover">About us</a>
        <a class="link link-hover">Contact</a>
        <a class="link link-hover">Jobs</a>
        <a class="link link-hover">Press kit</a>
      </nav>
      <nav>
        <h6 class="footer-title">Legal</h6>
        <a class="link link-hover">Terms of use</a>
        <a class="link link-hover">Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
      </nav>
      <form>
        <h6 class="footer-title">Newsletter</h6>
        <fieldset class="w-80">
          <label>Enter your email address</label>
          <div class="join">
            <input type="text" placeholder="username@site.com" class="input input-bordered join-item" />
            <button class="btn btn-primary join-item">Subscribe</button>
          </div>
        </fieldset>

        <div class="flex flex-col items-center justify-center md:flex-row">
          <a href="" class="flex items-center p-1 mx-1 text-white bg-gray-300 rounded-lg">
            <img src="/assets/images/apple.png" class="w-10 h-10" alt="">
            <p class="mx-5 text-sm text-black"> <%= __('apple-store') %></p>
          </a>
          <a href="" class="flex items-center p-1 mx-1 text-white bg-gray-300 rounded-lg">
            <img src="/assets/images/google-play.png" class="w-10 h-10" alt="">
            <p class="mx-5 text-sm text-black"><%= __('google-play') %></p>
          </a>
        </div>
      </form>



    </footer>


  </div>

</body>

</html>