<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Queue App | <%= title  %></title>
  <%- include('../partials/styles.ejs') %>

</head>

<body>


  <main>
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Page content here -->

        <div class="flex items-center justify-between p-4 bg-base-200">
          <div>
            <img src="/assets/images/logo.svg" class="w-32" alt="">
          </div>

          <div class="flex items-center">
            <div class="flex flex-col items-center justify-center mx-2">
              <p class="text-xs font-bold text-secondary">
                <% if (user) { %><%= user.name %> <% } %>
              </p>
              <p class="text-xs text-primary">
                <% if (user) { %><%= user.email %> <% } %>
              </p>
             
            </div>

            <label for="my-drawer" class="btn btn-primary drawer-button">
              <i class="fa-solid fa-bars"></i>
            </label>
          </div>



        </div>
      </div>



      <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="min-h-full p-4 menu bg-base-200 text-base-content w-80">


          <% if (user && user.placeId) { %>


          <li class="border-b-2 border-primary">
            <a href="/subscriber/statistics/<%= user.placeId %>">
              <img src="/assets/images/statistics.svg" class="w-6 h-6" alt="">
              <span class="ml-2">Statistics</span>
            </a>
          </li>



          <li class="border-b-2 border-primary">
            <a href="/subscriber/users/<%= user.placeId %>">
              <img src="/assets/images/users.svg" class="w-6 h-6" alt="">
              <span class="ml-2">Users</span>
            </a>
          </li>
          


          <li class="border-b-2 border-primary">
            <a href="/subscriber/setting/<%= user.placeId %>">
              <img src="/assets/images/setting.svg" class="w-6 h-6" alt="">
              <span class="ml-2">Setting</span>
            </a>
          </li>

          <li class="border-b-2 border-primary">
            <a href="/subscriber/queues/<%= user.placeId %>">
              <img src="/assets/images/waiting.svg" class="w-6 h-6" alt="">
              <span class="ml-2">Queues</span>
            </a>
          </li>


          <li class="mt-10 border-b-2 border-primary">
            <a href="/users/logout">
              <img src="/assets/images/logout.svg" class="w-6 h-6" alt="">
              <span class="ml-2">Logout</span>
            </a>
          </li>
         





          <% } %>


        </ul>
      </div>
    </div>
    <%- body %>
  </main>


</body>

</html>