<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <%- include('../partials/styles.ejs') %>
</head>

<body>

 

     <div class="container flex flex-col items-center justify-center px-3 m-auto my-10">
        <img src="/assets/images/banner.jpg" class="w-full md:w-1/2" alt="">
        <h6 class="py-10 font-bold text-center text-primary"> <%= __('welcome')  %><br> </h6>
     </div>


    <div class="container px-3 m-auto">
        <div class="grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-5">
            <% places.forEach(place => { %>
                <div class="flex flex-col items-center justify-center bg-gray-200 rounded-lg">
                    <div class="w-full overflow-hidden h-44">
                        <img class="w-full"  src="/uploads/<%= place.image  %>" alt="<%= place.name  %>">
                    </div>
                   
                    <div class="flex flex-col items-center justify-center px-3 py-4">
                        <h1 class="text-sm text-center"><%- place.nameEn %></h1>
                        <h1 class="mt-5 text-sm text-center text-primary"><%- place.addressEn %></h1>
                        <a href="/front/fetch/place/service/<%= place._id %>" class="w-full mt-5 btn btn-primary">Book Queue </a>
                    </div> 
                </div>
               <% }) %>
        </div>
    </div>







   <a href="/subscriber/show/qr/code/67db0fea78176bffc4851c80">show qr</a>
    


</body>

</html>