<div class="container px-3 m-auto my-10">
  <div class="flex flex-col items-center justify-center p-4 text-white bg-white border shadow-lg rounded-xl">



    <% if (queues.length> 0) { %>


      <div class="flex justify-between w-full mb-5">
        <p class="text-black"><%= __('waiting-list')  %></p>
        <p class="text-xl font-bold text-primary">
          <%= queues.length %>
        </p>
      </div>

      <div class="flex justify-between w-full mb-5">
        <p class="text-black"><%= __('estimated-time')  %></p>
        <p class="text-xl font-bold text-primary">
          <%= queues.length * 15 %> Min
        </p>
      </div>

      <% } else { %>
        <p class="text-xl font-bold text-primary"><%= __('no-queue-found')  %></p>
        <% } %>

          


          <% if (typeof service !== 'undefined') { %>
            <form action="/book/my/turn/<%= place %>/<%= service %>" method="post">
              <button class="btn btn-primary">Book My Turn</button>
            </form>
          <% } else { %>
            <form action="/book/my/turn/<%= place %>" method="post">
              <button class="btn btn-primary"> <%= __('book-queue')  %> </button>
            </form>
          <% } %>

  </div>
</div>