
<h4 class="mb-2 text-xl font-bold text-primary">Setting Page</h4>
<hr class="mb-3">




<div class="p-4 bg-white">
    <form action="/admin/update" method="post" enctype="multipart/form-data">


        <div class="grid grid-cols-1 gap-5 md:grid-cols-2">


            <div class="">
                <label class="label">Name (En)</label>
                <input type="text" name="nameEn" value="<%= setting.nameEn %>" class="w-full input input-primary" />
            </div>

            <div class="">
                <label class="form-label">Name (Ar)</label>
                <input type="text" name="nameAr" value="<%= setting.nameAr %>" class="w-full input input-primary" />
            </div>


            <div class="">
                <label class="form-label">Description (En)</label>
                <textarea type="text" name="descriptionEn"
                    class="w-full textarea textarea-primary"> <%= setting.descriptionEn %> </textarea>
            </div>


            <div class="">
                <label class="form-label">Description (Ar)</label>
                <textarea type="text" name="descriptionAr"
                    class="w-full textarea textarea-primary"> <%= setting.descriptionAr %> </textarea>
            </div>



            <div class="">
                <label class="label">Email</label>
                <input type="email" name="email" value="<%= setting.email %>" class="w-full input input-primary" />
            </div>



            <div class="">
                <label class="label">Phone</label>
                <input type="text" name="phone" value="<%= setting.phone %>" class="w-full input input-primary" />
            </div>


            <div class="">
                <label class="form-label">Address</label>
                <input type="text" name="address" value="<%= setting.address %>" class="w-full input input-primary" />
            </div>


            <div class="">
                <label class="label">App Url</label>
                <input type="text" name="appUrl" value="<%= setting.appUrl %>" class="w-full input input-primary" />
            </div>



            <div class="">
                <div class="flex items-center justify-center mb-5">
                    <img class="w-44" src="/uploads/<%= setting.logo %>" alt="<%= setting.nameAr %>">
                </div>


                <label class="flex items-center justify-center w-full py-10 border border-dashed image-preview"  for="image">

                    <div class="mb-2">
                        <img src="" id="preview" alt="">
                    </div>
                    <input type="file" id="image" name="image" class="hidden w-full file-input file-input-primary" />

                    <div>
                        <i class="text-3xl fa-solid fa-file-image"></i>
                    </div>
                </label>

            </div>



            <div class="flex justify-center col-span-2">
                <button class="btn btn-primary">update</button>
            </div>
            


        </div>




      
    </form>
</div>