<div class="p-4 bg-white">
    <form action="/settings/update" method="post" enctype="multipart/form-data">


        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">


            <div class="">
                <label class="label">Name (En)</label>
                <input type="text" name="nameEn" value="<%= setting.nameEn %>" class="input input-primary w-full" />
            </div>

            <div class="">
                <label class="form-label">Name (Ar)</label>
                <input type="text" name="nameAr" value="<%= setting.nameAr %>" class="input input-primary w-full" />
            </div>


            <div class="">
                <label class="form-label">Description (En)</label>
                <textarea type="text" name="descriptionEn"
                    class="textarea textarea-primary w-full"> <%= setting.descriptionEn %> </textarea>
            </div>


            <div class=" ">
                <label class="form-label">Description (Ar)</label>
                <textarea type="text" name="descriptionAr"
                    class="textarea textarea-primary w-full"> <%= setting.descriptionAr %> </textarea>
            </div>



            <div class="">
                <label class="label">Email</label>
                <input type="email" name="email" value="<%= setting.email %>" class="input input-primary w-full" />
            </div>



            <div class="">
                <label class="label">Phone</label>
                <input type="text" name="phone" value="<%= setting.phone %>" class="input input-primary w-full" />
            </div>


            <div class=" ">
                <label class="form-label">Address</label>
                <input type="text" name="address" value="<%= setting.address %>" class="input input-primary w-full" />
            </div>


            <div class="">
                <label class="label">App Url</label>
                <input type="text" name="appUrl" value="<%= setting.appUrl %>" class="input input-primary w-full" />
            </div>



            <div class=" ">
                <div class="mb-5 flex justify-center items-center">
                    <img class="w-44" src="/uploads/<%= setting.logo %>" alt="<%= setting.nameAr %>">
                </div>


                <label class="image-preview border border-dashed flex justify-center items-center w-full py-10"  for="image">

                    <div class="mb-2">
                        <img src="" id="preview" alt="">
                    </div>
                    <input type="file" id="image" name="image" class="file-input file-input-primary w-full hidden" />

                    <div>
                        <i class="fa-solid fa-file-image text-3xl"></i>
                    </div>
                </label>

            </div>



            <div class="col-span-2 flex justify-center">
                <button class="btn btn-primary">update</button>
            </div>
            


        </div>




      
    </form>
</div>