<div class="p-4">
    <h4 class="mb-2 text-xl font-bold text-primary"> <%= __('create-new-page')  %> </h4>
     <hr class="mb-3">
   
     <form action="/admin/store/page/content" method="post">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
            <div class="mb-3 ">
                <label class="block text-sm text-black label"><%= __('title-en')  %></label>
                <input type="text" name="title_en" required class="w-full input input-primary" />
            </div>
            <div class="mb-3 ">
                <label class="block text-sm text-black label"><%= __('title-ar')  %></label>
                <input type="text" name="title_ar" required class="w-full input input-primary" />
            </div>
        </div>
        <div class="mb-3">
            <label class="block text-sm text-black label"><%= __('content-en') %></label>
            <textarea id="content_en" name="content_en" class="w-full"></textarea>
        </div>
    
        <div class="mb-3">
            <label class="block text-sm text-black label"><%= __('content-ar') %></label>
            <textarea id="content_ar" name="content_ar" class="w-full"></textarea>
        </div>
    
        <button type="submit" class="btn btn-primary mt-4"><%= __('save')  %></button>
     </form>
  

  
  
  
  

  
  
  </div>



  <script>
    $(document).ready(function() {
        $('#content_en').summernote({
            height: 300,   // ارتفاع المحرر
            placeholder: 'Write content in English...'
        });
        $('#content_ar').summernote({
            height: 300,
            placeholder: 'Write content in Arabic...'
        });
    });
</script>