<div class="p-4 bg-white">


    <h4 class="mb-2 text-xl font-bold text-primary"><%= __('users')  %></h4>
    <hr class="mb-3">




    <div class="overflow-x-auto">
        <table id="myTable" class="table table-zebra">
            <thead>
                <tr>

                    <th class="text-black"><%= __('name')  %></th>
                    <th class="text-black"><%= __('email')  %></th>
                    <th class="text-black"><%= __('role')  %></th>
                    <th class="text-black"><%= __('actions')  %></th>

                </tr>
            </thead>


            <tbody>
                <% users.forEach(user=> { %>
                    <tr class="odd:bg-gray-400 even:bg-white">
                        <td class="text-xs font-light">
                            <%= user.name %>
                        </td>

                        <td class="text-xs font-light">
                            <%= user.email %>
                        </td>

                        <td class="text-xs font-light">
                            <%= user.role %>
                        </td>

                        <td class="flex items-center justify-center">



                            <button class="mx-1 btn btn-sm btn-success "
                                onclick="document.getElementById('modal-<%= user._id %>').showModal()">
                                <i class="text-white fa-solid fa-pen"></i>
                            </button>


                            <dialog id="modal-<%= user._id %>" class="modal">
                                <div class="modal-box">
                                    <form method="dialog">
                                        <button
                                            class="absolute btn btn-sm btn-circle btn-ghost right-2 top-2">✕</button>
                                    </form>
                                    <div class="mt-3">
                                        <form action="/admin/edit/user/<%= user._id %>" method="post">

                                            <div class="mb-3">
                                                <label>Name</label>
                                                <input class="w-full input input-primary" name="name" type="text"
                                                    value="<%= user.name  %>">
                                            </div>

                                            <div class="mb-3">
                                                <label class="block">Select The Role</label>
                                                <select name="role" id="role-select" onchange="togglePlaceSelect()" class="w-full select select-primary focus:outline-0">
                                                    <option value="" disabled selected>Select The Role</option>
                                                    <option value="admin">Admin</option>
                                                    <option value="subscriber">SubScriber</option>
                                                    <option value="user">User</option>
                                                </select>
                                            </div>
                                            
                                            <!-- Select Place (hidden by default) -->
                                            <div id="place-select-container" class="mb-3 ">
                                                <label class="block">Select Place</label>
                                                <select name="place" class="w-full select select-primary focus:outline-0">
                                                    <option disabled selected>Select Place</option>
                                                    <% places.forEach(place => { %>
                                                        <option value="<%= place._id  %>"><%= place.nameEn %></option>
                                                    <% }) %>
                                                </select>
                                            </div>




                                            <div class="flex justify-center mt-5">
                                                <button class="btn btn-primary" type="submit"><%= __('update')  %></button>
                                            </div>

                                          


                                        </form>
                                    </div>
                                </div>
                            </dialog>

                            <!-- زر الحذف -->
                            <a onclick="return confirm('هل أنت متأكد أنك تريد حذف هذا المستخدم؟');"
                                href="/users/delete/user/<%= user._id %>" class="mx-1 btn btn-error btn-sm">
                                <i class="text-white fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>












        </table>
    </div>
</div>




<script>
    function togglePlaceSelect() {
        const role = document.getElementById('role-select').value;
        console.log(role)
        const placeContainer = document.getElementById('place-select-container');

        if (role === 'subscriber') {
            placeContainer.classList.remove('hidden');
        } else {
            placeContainer.classList.add('hidden');
        }
    }
</script>