<div>





<div class="container flex items-center justify-between px-5 m-auto my-5">
  <div></div>
  <div><%- include('../partials/_language-switcher.ejs')  %></div>
</div>








  <div class="container flex flex-col items-center justify-center px-3 m-auto my-10">
    <h5 class="mb-5 text-3xl font-black text-center text-primary">

      <% if (locale==='ar' ) { %>
      <%= place.nameAr %>
      <% } else { %>
      <%= place.nameEn %>
      <% } %>





    </h5>
    <h5 class="text-sm text-center">
      <%= place.addressEn %>


      <% if (locale==='ar' ) { %>
      <%= place.addressAr %>
      <% } else { %>
      <%= place.addressEn %>
      <% } %>



    </h5>

    <img src="<%= qrCodeDataUrl %>" class="w-96 h-96" alt="QR Code" />
    <p class="mt-5 font-bold">
      <%= __('scan-qr') %>
    </p>
  </div>





<%- include('../partials/footer.ejs')  %>





</div>