<div class="container m-auto my-10">
    <form action="/subscriber/edit/place/:id" method="post" enctype="multipart/form-data">
        <div class="grid grid-cols-1 gap-3 md:grid-cols-2">
    
          <div class="mb-3 ">
            <label class="block text-sm text-black label">Name ( Ar )</label>
            <input type="text" name="nameAr" required class="w-full input input-primary" value="<%= place.nameAr  %>" />
          </div>
    
          <div class="mb-3 ">
            <label class="block text-sm text-black label">Name ( En )</label>
            <input type="text" name="nameEn" required class="w-full input input-primary" value="<%= place.nameEn  %>" />
          </div>
    
    
          <div class="mb-3 ">
            <label class="block text-sm text-black label">Address ( En )</label>
            <input type="text" name="addressEn" required class="w-full input input-primary" value="<%= place.addressEn  %>" />
          </div>
    
    
          <div class="mb-3 ">
            <label class="block text-sm text-black label">Address ( Ar )</label>
            <input type="text" name="addressAr" required class="w-full input input-primary" value="<%= place.addressAr  %>" />
          </div>
    
    
    
    
          <div class="mb-3 ">
            <label class="block text-sm text-black label">Description</label>
            <input type="text" name="description" required class="w-full input input-primary" value="<%= place.description  %>" />
          </div>
    
    
          <div class="mb-3 ">
            <label class="block text-sm text-black label">Latitude</label>
            <input type="text" name="lat" required class="w-full input input-primary" value="<%= place.location.lat  %>" />
          </div>
    
    
          <div class="mb-3 ">
            <label class="block text-sm text-black label">Longitude</label>
            <input type="text" name="lng" required class="w-full input input-primary" value="<%= place.location.lng  %>" />
          </div>
    
          <div class="mb-3 ">
            <label class="block text-sm text-black label">Start Work</label>
            <input type="time" name="timeStart" required class="w-full input input-primary" value="<%= place.timeStart  %>" />
          </div>
    
          <div class="mb-3 ">
            <label class="block text-sm text-black label">Start Work</label>
            <input type="time" name="timeClosed" required class="w-full input input-primary" value="<%= place.timeClosed  %>" />
          </div>
    
    
    
          <div class="mb-3">
            <label class="block text-sm text-black label">Days of Work</label>
            <div class="grid grid-cols-2 gap-2 md:grid-cols-3">
              <label class="fieldset-label">
                <input type="checkbox" name="daysOfWork[]" value="Sunday" class="checkbox" />
                Sunday
              </label>
    
              <label class="fieldset-label">
                <input type="checkbox" name="daysOfWork[]" value="Monday" class="checkbox" />
                Monday
              </label>
    
              <label class="fieldset-label">
                <input type="checkbox" name="daysOfWork[]" value="Tuesday" class="checkbox" />
                Tuesday
              </label>
    
              <label class="fieldset-label">
                <input type="checkbox" name="daysOfWork[]" value="Wednesday" class="checkbox" />
                Wednesday
              </label>
    
    
              <label class="fieldset-label">
                <input type="checkbox" name="daysOfWork[]" value="Thursday" class="checkbox" />
                Thursday
              </label>
    
    
              <label class="fieldset-label">
                <input type="checkbox" name="daysOfWork[]" value="Friday" class="checkbox" />
                Friday
              </label>
    
              <label class="fieldset-label">
                <input type="checkbox" name="daysOfWork[]" value="Saturday" class="checkbox" />
                Saturday
              </label>
    
    
    
            </div>
          </div>
    
    
          <div class="mb-3">
            <div class="flex items-baseline justify-center my-10">
              <img class="w-24 h-24" src="/uploads/<%= place.image  %>" alt="">
              
            </div>
            <label
              class="flex flex-col items-center justify-center w-full p-4 border border-gray-400 border-dashed image-preview "
              for="image">
    
              <div class="mb-2">
                <img src="" id="preview" alt="">
              </div>
              <input type="file" id="image" name="image" required class="hidden w-full file-input file-input-primary" />
    
              <div>
                <i class="fa-solid fa-file-image fs-3"></i>
              </div>
            </label>
    
          </div>
    
        </div>
    
        <div class="flex items-center justify-center col-span-2 my-10">
          <button type="submit" class="w-1/2 btn btn-primary">Save</button>
        </div>
      </form>
</div>