<div class="container m-auto my-5">

    


    <div class="flex items-center justify-end">
        <button class="btn btn-primary" onclick="my_modal_2.showModal()">Add New User</button>
    </div>


    
    <dialog id="my_modal_2" class="modal">
        <div class="modal-box">
            <h3 class="text-lg font-bold text-center">Add New User</h3>
            <form action="/subscriber/create/new/user/<%= place._id  %>" method="post">
                
                <div class="mb-3">
                    <label class="block " > <%= __('name')  %> </label>
                    <input type="text" class="w-full input input-bordered input-primary" name="name" required>
                </div>



                <div class="mb-3">
                    <label ><%= __('email')  %> </label>
                    <input type="text" class="w-full input input-bordered input-primary" name="email" required>
                </div>

                <div class="mb-3">
                    <label > <%= __('password')  %> </label>
                    <input type="password" class="w-full input input-bordered input-primary" name="password" required>
                </div>

               <div class="flex justify-center mt-4" >
                <button class="btn btn-primary" type="submit"><%= __('save')  %> </button>
               </div>


            </form>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>












    <div class="p-4 bg-white">
        <div class="overflow-x-auto">
            <table id="myTable" class="table table-xs">
                <thead>
                    <tr>

                        <th class="text-black"><%= __('name') %></th>
                        <th class="text-black"><%= __('email') %></th>
                        <th class="text-black"><%= __('role') %></th>
                        <th class="text-black"><%= __('actions') %></th>

                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user=> { %>
                        <tr>
                            <td class="text-xs font-light">
                                <%= user.name %>
                            </td>

                            <td class="text-xs font-light">
                                <%= user.email %>
                            </td>

                            <td class="text-xs font-light">
                                <%= user.role %>
                            </td>








                            <td class="flex items-center justify-center">
                                <a href="/places/edit/place/<%= user._id %> " class="mx-1 btn btn-success btn-xs">
                                    <i class="text-white fa-solid fa-pen"></i>
                                </a>
                                <a onclick="return confirm('Are you sure you want to delete this item?');"
                                    href="/users/delete/user/<%= user._id %> " class="mx-1 btn btn-error btn-xs">
                                    <i class="text-white fa-solid fa-trash"></i>
                                </a>
                            </td>

                        </tr>
                        <% }) %>

                </tbody>

            </table>
        </div>
    </div>
</div>